<div class="container">
  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Descrição</th>
        <!-- <th scope="col">Nome</th>
        <th scope="col">Email</th> -->
      </tr>
    </thead>

    <tbody *ngFor="let employee of employees">
      <tr>
        <td scope="col"> {{ employee.client_id }}</td>
        <td scope="col"> {{ employee.description }}</td>
        <!-- <td scope="col"> {{ employee.nome }}</td>
        <td scope="col"> {{ employee.email }}</td> -->
        <!-- <td scope="col"> {{ employee.id }}</td>
        <td scope="col"> {{ employee.cliente }}</td>
        <td scope="col"> {{ employee.nome }}</td>
        <td scope="col"> {{ employee.email }}</td> -->
      </tr>
    </tbody>

  </table>
</div>
